.cache
.vs
/build
/build2
/lib
**/__pycache__
*.so
*.egg-info
*.lib
*.pdb
*.dll
*.exp
*.exe
*.nupkg
bindings/csharp/AprilAsrDemo/bin
bindings/csharp/AprilAsrDemo/obj
bindings/python/build
bindings/python/dist
april-docs/src/csharp/html
april-docs/src/april_asr
/result
/result-dev
